.header {
  background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
  margin-bottom: 48px;
  padding: 20px 0;

}
.inner {
  width: 1024px;
  margin: 0 auto;
}
.nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: #f5f5f5;
  font-size: 40px ;
  font-family: 'DynaPuff', cursive;
}

.nav__btn{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
  border: 1px #87CEFA solid;
  border-radius: 3px;
  transition: 0.4s ease;
}
.nav__btn:hover{
  color: #fff;
  background: #87CEFA;
}

.nav__logout{
  display: inline-block;
  padding: 0.4em 1.6em;
  font-size: 0.8em;
  color: #87CEFA;
  text-decoration: none;
  user-select: none;
}
.nav__logout:hover{
  opacity: 0.5;
}
