.item__wrapper{
  min-height: calc(100vh - 161px);
}
.item__hedding{
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.item__user{
  display: block;
  font-size: 16px;
  color: #999;
  text-align: center;
  text-decoration: underline;
}

.item__edit_delete{
  display: flex;
  justify-content: center;
  padding-top: 16px;
  margin-bottom: 30px;
}

.share_cotents{
  display: flex;
  justify-content: center;
}

.item__image{
  width: 40%;
  margin: 0 auto;
  padding: 16px 0;
}
.item__detail{
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 8px;
}
.detail__title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}
.item__recommendation{
  display: flex;
  justify-content: left;
  padding: 16px 0;
  margin-bottom: 30px;
  background-color: #f6f6f6;
}
.item__btn{
  display: block;
  padding: 0.4em 1.6em;
  font-size: 0.4em;
  color: #999;
  text-decoration: none;
  user-select: none;
  border: 1px #999 solid;
  border-radius: 3px;
  transition: 0.4s ease;
  margin: 0 4px;
}
.item__btn:hover{
  color: #fff;
  background: #999;
}

.item__comments{
  background-color: #f6f6f6;
  padding: 20px;
  margin: 10px 0 40px 0;
  overflow: scroll;
  height: 300px;
}

.comments_lists{
  padding-left: 20px;
}

.comments_list{
  list-style-type: square;
  padding-bottom: 10px;
}

.comment_user{
  font-size: 16px;
  color: #999;
  text-decoration: underline;
}

.show_actions{
  margin-bottom: 10px;
}

.review-rating{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
